<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 autoReload="true"
 internalLogLevel="Debug|Info|Warn|Error|Fatal"

internalLogFile="C:\Users\CDL\OneDrive\Desktop\ZLibProjectMyWay\LogService\InternalLog.txt">
 <targets>
 <target name="logfile" xsi:type="File"

fileName="C:\Users\CDL\OneDrive\Desktop\ZLibProjectMyWay\LogService\LogFile.txt"
 layout="${longdate} ${level:uppercase=true} ${message}"/>
 </targets>
 <rules>
 <logger name="*" minlevel="Debug" writeTo="LogFile" />
 </rules>
</nlog>